- form_for(@munin_server) do |f|
  %p#url
    = f.label :url, "Url :"
    = f.text_field :url
    = error_message_on @munin_server, :url
  %p#http_user
    = f.label :http_user, 'HTTP User (optional) :'
    = f.text_field :http_user
    = error_message_on @munin_server, :http_user
  %p#http_password
    = f.label :http_password, "Http Password (optional) :"
    = f.text_field :http_password
    = error_message_on @munin_server, :http_password
  = f.submit submit_message