%h1= "MuninServer : " + @munin_server.url
%p= 'URL : '+@munin_server.url
%p= 'HTTP User : '+@munin_server.http_user
%p= 'HTTP Password :'+@munin_server.http_password

= link_to('Edit', edit_munin_server_path(@munin_server))