!!! XML
!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    %title= page_title
  %body
    #container
      #header
        #title
          %h1
            = link_to_unless_current 'Munin on Rails', root_path
        
        #userbar
          = render :partial => 'users/user_bar'
        
        #menu
          %ul
            %li= link_to('Munin Servers', munin_servers_path)
            %li= link_to('Servers', servers_path)
            %li= link_to('Plugins', plugins_path)
      
      #content
        - [:notice, :warning, :message, :error].each do |f|
          - if flash[f]
            %div{:class => "flash_#{f}"}
              = flash[f]
              
        = yield

      #footer
