!!! XML
!!!
%html{html_attrs}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'}
    = javascript_include_tag 'jquery-1.4.2', 'jquery.flot', 'jquery.flot.selection', 'rails'
    %title= page_title    
  %body
    #container
      #header
        #title
          %h1
            = link_to_unless_current 'Graphs on Rails', root_path
        %ul#menu
          %li= link_to 'Repositories', repositories_path
          %li= link_to 'Hosts', hosts_path
      
      #content
        - [:notice, :warning, :message, :error].each do |f|
          - if flash[f]
            %div{:class => "flash_#{f}"}
              = flash[f]
              
        = yield

      #footer
        Powered by #{link_to 'Graphs on Rails', 'http://github.com/renchap/graphs-on-rails'}
